@model MvcToner.Models.BelegModel

<h4>BelegModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Fick">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@using(Html.BeginForm("Edit", "Beleg", FormMethod.Get))
{
    @Html.TextBox("term")/*muss "term" sein!! Parameter der List methode in ArtikelController!*/
    <input type="submit" value="search" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                Artikelname
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (ArtikelModel item in ViewBag.allArtikels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Add Position", "Edit", new{ art = item}/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
